@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'product sans';
}
.druk{
  font-family: 'Druk Wide Bold', sans-serif;
}
.hero{
  @apply bg-[url('/background.png')] bg-no-repeat bg-center bg-neutrals min-h-screen
}
nav div>button{
  font-size: clamp(14px, 1vw, 16px);
}
.app-container{
  @apply max-w-[1440px] mx-auto
}